.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icon
        .top-items__icon__edit
          = link_to "#" do
            %i.fas.fa-edit
        .top-items__icon__new-group
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog

  .side-bar__groups
    .groups-group
      .group__group-name
        aiueo
      .group__group-message
        yum